* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    border: 1px solid black;
    background-color: green;
    width: 100%;
}

/* Header Section */

.header {
    border: 1px solid black;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(255, 255, 255);
}

.header-top {
    grid-row: 1 / 1;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 28px;
    /* justify-content: space-between; */
    
}

input {
    min-width: 200px;
    width: 800px;
    height: 30px;
    border: 1px solid #dfdfdf;
    background-color: #dfdfdf;
    border-radius: 15px;
    margin-right: 118px;
}

.header-bottom {
    display: flex;
    align-items: center;
    padding-left: 28px;
    padding-bottom: 12px;
    padding-top: 4px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin-left: 35px;
}
.account-2 {
    margin-right: 18px;
}

.header-bottom p {
    font-weight: bold;
    font-size: 24px;
    margin-right: 480px;
}

.lowercase {
    font-size: 14px;
}

button {
    background-color: #2e9aff;
    padding: 12px 30px;
    border: 1px solid #2e9aff;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.magnify {
    margin-right: 12px;
}

.bell {
    margin-right: 48px;
}

.account {
    margin-right: 48px;
}
/* Sidebar Section */

.sidebar {
    background-color: rgb(92, 190, 255);
    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    grid-row: 1 / 3;
}

.logo {
    display: flex;
    height: 100px;
    margin-left: 24px;
    gap: 16px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: auto;
}

.links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-left: 38px;
    gap: 16px;
}

.link:hover,
.logo:hover {
    cursor: pointer;
}

.link {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Main Section */


main {
    background-color: rgb(204, 204, 204);
    padding-top: 24px;
    padding-left: 18px;
    font-size: 18px;
    font-weight: bold;
}

main p:first-child {
    font-size: 20px;
    padding-bottom: 8px;
    margin-left: 32px;
}

.left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 65%;
    gap: 16px;
    height: 90%;
    margin-left: 32px;
}


.box {
    border-radius: 15px;
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255);
    padding-left: 24px;
    padding-top: 28px;
    border-left: 10px solid yellow;
    background-color: #ffffff;
}

.box p {
    font-weight: normal;
    font-size: 16px;
}

.images {
    display: flex;
    justify-content: flex-end;
    gap: 28px;
    margin-top: 52px;
    margin-right: 42px;
    margin-bottom: 18px;
}