* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    border: 1px solid black;
    background-color: green;
    width: 100%;
    height: 100vh;
}

/* Header Section */

.header {
    border: 1px solid black;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(255, 255, 255);
}

.header-top {
    grid-row: 1 / 1;
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 28px;
    /* justify-content: space-between; */
    
}

input {
    min-width: 200px;
    width: 800px;
    height: 30px;
    border: 1px solid #dfdfdf;
    background-color: #dfdfdf;
    border-radius: 15px;
    margin-right: 118px;
}

.header-bottom {
    display: flex;
    align-items: center;
    padding-left: 28px;
    padding-bottom: 12px;
    padding-top: 4px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin-left: 35px;
}
.account-2 {
    margin-right: 18px;
}

.header-bottom p {
    font-weight: bold;
    font-size: 24px;
    margin-right: 480px;
}

.lowercase {
    font-size: 14px;
}

button {
    background-color: #2e9aff;
    padding: 12px 30px;
    border: 1px solid #2e9aff;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.magnify {
    margin-right: 12px;
}

.bell {
    margin-right: 48px;
}

.account {
    margin-right: 48px;
}
/* Sidebar Section */

.sidebar {
    background-color: rgb(92, 190, 255);
    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    border: 1px solid black;
    grid-row: 1 / 3;
}

.logo {
    display: flex;
    height: 100px;
    margin-left: 24px;
    gap: 16px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: auto;
}

.links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-left: 38px;
    gap: 16px;
}

.link:hover,
.logo:hover {
    cursor: pointer;
}

.link {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Main Section */

.main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    /* background-color: yellow; */
    
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #dfdfdf;
    gap: 20px;
    padding: 20px;
}

.box {
    border: 1px solid black;
}

